<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/devFrame.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Eben C.">
    <meta name="description" content="the main portfolio which I'll use and probably improve">
    <meta name="keywords" content="web development, javascript, css, html, petite-vue, bootstrap, support, hosting, etc.">
    <title>Dev Frame</title>
    <link rel="stylesheet" href="/src/styles/main.css">
    <script type="module" src="/src/scr/main.js" defer></script>
  </head>

  <body class="mainContainer">
    <header class="mainContainer">
      <div>
        <h1 class="fontPrimary">Dev Frame</h1>
        <!--<h4>slogan</h4>-->
      </div>

      <nav>
        <a href="https://github.com/Yarvis405" target="_blank">GitHub</a>
        <a href="https://linkedin.com/in/eben-charles-83275b27a" target="_blank">LinkedIn</a>
        <div>
          <input type="checkbox" name="dark" id="dark" value="dark" style="display: none;" checked>
          <label for="dark" id="theme" class="theme">Dark</label>
        </div>
      </nav>
    </header>

    <main class="mainContainer">
      <!--Welcome-->
      <section>
        <h2 class="fontPrimary">Dev Frame</h2>

        <article class="brief">
          <p class="fontSecondary">This is the <b>Dev Frame</b> and I am Eben C. Ones I start to Work with you, your objectives are for me to fulfill.</p>
          <p class="fontSecondary">I'm a <b>Web Developer</b> and my skills well I have plenty of knowledge of <b>SPA</b> and <b>PWA</b>. I can also work with <b>SDKs</b>, <b>Frameworks</b> or <b>Libraries</b> for example. petite-vue is my main framework, and I've also used firebase and well still working on it. but most importantly I'm willing to learn and adapt.</p> 
          <p class="fontSecondary">With that say Welcome to the <b>Dev Frame</b>.</p>
        </article>
      </section>
      <!---->
      
      <!--Projects 3xN grid-->
      <section>
        <h2 class="fontPrimary">Projects</h2>

        <article v-scope="githubAPIWrapper({
              api: 'https://api.github.com/users',
              user: 'Yarvis405'
            })" class="board" @vue:mounted="init()">
          <!--<label style="display:none;">{{init()}}</label>-->
          <!--boostrap card with image-->
          <!--<div class="board" v-for="repo in repos">-->

          <div class="card projectCard" ref="hello" style="width: 18rem;" :bind:id="repo.id" v-for="repo in repos">
            <img class="card-img-top" v-bind:src="repo.thumbnail" @error="$el.style.display='none'" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title fontPrimary">{{repo.name}}</h5>
              <p class="card-text">{{repo.description}}</p>
              <div class="goto">
                <!--repo-->
                <a :bind:href="repo.uri" target="_blank" class="btn btn-primary">Visit repo</a>

                <!--homepage-->
                <a :bind:href="repo.host" v-if="repo.host.includes('https')" target="_blank" class="btn btn-primary" >Visit Homepage</a>
                <a :bind:href="repo.host" v-else target="_blank" class="btn btn-primary" >Not Avaliable</a>
              </div>
              </div>
          </div>
  
          <!--</div>-->
        </article>
      </section>
      <!---->
      
      <!--contact-->
      <section v-scope="formHandler({
          mail: {
            email: '',
            service: ''
          }
        })" vue:mounted="mounted()">
        <h2 class="fontPrimary">contact</h2>
        <!---->
        <form>
          <div class="form-group">
            <label for="emailIn" class="fontSecondary">Email:<span class="serviceBadge" v-if="form.service != ''">{{ form.service }}</span></label>
            <input type="email" class="form-control" id="emailIn" placeholder="user@host.com" v-model="form.email" required>
          </div>

          <nav>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="service" id="radio1" value="Devlopment" v-model="form.service" required>
              <label class="form-check-label fontSecondary" for="radio1">
                Development
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="service" id="radio2" value="Hosting" v-model="form.service" required>
              <label class="form-check-label fontSecondary" for="radio2">
                Hosting
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="service" id="radio3" value="Support" v-model="form.service" required>
              <label class="form-check-label fontSecondary" for="radio3">
                Support
              </label>
            </div>
          </nav>

          <button type="submit" class="btn btn-primary btn-lg btn-block" @click="compose()">Submit</button>
        </form>

        <div class="alert alert-danger" role="alert" v-if="status.message.includes('Failed')">
          <!--Still working on it-->{{ status.message }}
        </div>


        <div class="alert alert-success" role="alert" v-else-if="status.message.includes('succeessfully')">
          <!--Still working on it--> {{ status.message }}
        </div>
      </section>
      <!---->
    </main>

    <footer class="mainContainer">
      <a href="/legal/terms.html" target="_blank" title="terms and privacy">&copy;Dev Frame</a>

      <a href="#">head up</a>
    </footer>
  </body>
</html>
